.select {
  display: inline-block;
  position: relative;
  font-size: 0.875em;
  line-height: 1em;
  margin-right: 2em;
  .label {
    color: $black;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $border;
    height: 24px;
    min-width: 104px;
    cursor: pointer;
    &.selected {
      color: $blue;
    }
  }
  img {
    position: absolute;
    right: 1px;
    top: 4px;
  }
  .options {
    position: absolute;
    top: 23px;
    padding: 0.5em 0;
    background: $white;
    border: 1px solid $border;
    width: 100%;
    li {
      padding: 0.5em 1em;
      color: $grey;
      cursor: pointer;
      &:hover,
      &.selected {
        color: $blue;
      }
    }
  }
}
