.article {
  padding-bottom: 3em;
  &__image {
    margin: 2.25em 0;
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
    .placeholder {
      border: 1px solid $grey;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7em 0;
    }
  }
  &__content {
    max-width: 600px;
    margin: 0 auto;
  }
  &__info {
    font-size: 0.875em;
    span {
      margin-right: 1em;
      color: $grey;
    }
    a {
      color: $blue;
      text-decoration: none;
    }
  }
  &__title {
    font-size: 1.5em;
    line-height: 1.4em;
    margin-top: 0.5em;
    color: $black;
  }
  &__description {
    font-size: 1.1em;
    line-height: 1.1em;
    color: $blackGrey;
    margin-top: 1em;
  }
  .button-source {
    max-width: 300px;
    height: 64px;
    display: block;
    background: $blue;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
  }
}
