.articles {
  .articles-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .article-box {
      width: 31.5%;
      margin-bottom: 3em;
      img,
      .placeholder {
        min-width: 100%;
        max-width: 100%;
        min-height: 212px;
        max-height: 212px;
        object-fit: cover;
        display: block;
        border-radius: 4px 4px 0px 0px;
        margin-bottom: 1.5em;
      }
      .placeholder {
        border: 1px solid $grey;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__info {
        font-size: 0.875em;
        span {
          margin-right: 1em;
          color: $grey;
        }
        a {
          color: $blue;
          text-decoration: none;
        }
      }
      &__title {
        font-size: 1.5em;
        line-height: 1.4em;
        margin-top: 0.5em;
        color: $black;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height: 66px;
        min-height: 66px;
      }
      &__description {
        font-size: 1.1em;
        line-height: 1.1em;
        color: $blackGrey;
        margin-top: 1em;
        min-height: 135px;
        max-height: 135px;
      }
      .button-more {
        width: 100%;
        margin-top: 2em;
        background: $blue;
        color: $white;
      }
    }
  }
  .load-more-bar {
    margin: 1em auto 4em auto;
    display: flex;
    justify-content: center;
    min-height: 50px;
  }
  .load-more {
    width: 330px;
  }
}
// Filters component
.filters {
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__right {
    .button {
      width: 164px;
      height: 32px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (max-width: $breakpoint_1024) {
  .articles {
    .articles-list {
      .article-box {
        width: 48%;
        .button-more {
          margin-top: 0.5em;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint_768) {
  .articles {
    .articles-list {
      .article-box {
        width: 100%;
        &__description {
          min-height: auto;
          max-height: auto;
          margin-bottom: 0.5em;
        }
      }
    }
    .load-more {
      width: 100%;
    }
  }
  .filters {
    flex-direction: column;
    justify-content: center;
    &__right {
      margin-top: 1em;
    }
  }
}
