html,
body,
#root,
.container {
  height: 100%;
}
body {
  padding: 0 3.25em;
  font-family: "ArialMT";
  font-size: 16px;
  color: $blackGrey;
}

.container {
  max-width: 1174px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: $breakpoint_768) {
  body {
    font-size: 15px;
    padding: 0 1.5em;
  }
}

a {
  color: $blue;
  text-decoration: none;
}
